anz_privacy_operations/src/main/app/anz_privacy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="anz_privacy-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="anz_privacy-config" raml="anz_privacy.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="HTTP_Request_Configuration" host="192.168.0.115" port="9200" basePath="/anz_user/privacySettings" doc:name="HTTP Request Configuration"/>
    <flow name="anz_privacy-main">
        <http:listener config-ref="anz_privacy-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="anz_privacy-config" doc:name="APIkit Router"/>
        <exception-strategy ref="anz_privacy-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="anz_privacy-console">
        <http:listener config-ref="anz_privacy-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="anz_privacy-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="put:/updateprivacy:anz_privacy-config">
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="guid" value="#[payload.guid]" doc:name="Variable"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{guid}" method="PUT" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="guid" value="#[flowVars.guid]"/>
            </http:request-builder>
        </http:request>
        <set-payload value="[{
	&quot;header&quot;: {
		&quot;guid&quot;: &quot;&quot;,
		&quot;responsedatetime&quot;: &quot;&quot;,
		&quot;userid&quot;: &quot;&quot;,
		&quot;responsesOn&quot;: &quot;&quot;,
		&quot;responsesFrom&quot;: &quot;&quot;
	}
}, {
	&quot;message&quot;: &quot;successfully  updated&quot;
}]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/deleteprivacy:anz_privacy-config">
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="guid" value="#[message.inboundProperties.'http.query.params'.guid]" doc:name="Variable"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{guid}" method="DELETE" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="guid" value="#[flowVars.guid]"/>
            </http:request-builder>
        </http:request>
        <set-payload value="[{
	&quot;header&quot;: {
		&quot;guid&quot;: &quot;&quot;,
		&quot;responsedatetime&quot;: &quot;&quot;,
		&quot;userid&quot;: &quot;&quot;,
		&quot;responsesOn&quot;: &quot;&quot;,
		&quot;responsesFrom&quot;: &quot;&quot;
	}
}, {
	&quot;message&quot;: &quot;successfully  deleted&quot;
}]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/getprivacy:anz_privacy-config">
        <set-variable variableName="guid" value="#[message.inboundProperties.'http.query.params'.guid]" doc:name="Variable"/>
        <set-variable variableName="var" value="#[message.inboundProperties.'http.query.params']" doc:name="Variable"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{guid}" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="guid" value="#[flowVars.guid]"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="var4" value="#[payload._source]" doc:name="Variable"/>
        <expression-transformer expression="#[{ 'guid' : flowVars.var.guid,'user_id' : flowVars.var.userId,   'responsesfrom' : flowVars.var.requestedfrom,'responseson' : flowVars.var.requestedon,'geolocation' : flowVars.var.geolocation, 'responsedatetime' : server.dateTime.withTimeZone('GMT').format('MM/dd/yyyyHH:mm:ss')}]" doc:name="Expression"/>
        <set-variable variableName="var2" value="#[payload]" doc:name="Variable"/>
        <expression-transformer expression="#[[{'header':flowVars.var2},{'body':flowVars.var4}]]" doc:name="Expression"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
    </flow>
    <flow name="post:/createprivacysettings:anz_privacy-config">
        <json:json-to-object-transformer returnClass="java.lang.Object" doc:name="JSON to Object"/>
        <set-variable variableName="guid" value="#[payload.guid]" doc:name="Variable"/>
        <json:object-to-json-transformer doc:name="Object to JSON"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/{guid}" method="POST" doc:name="HTTP">
            <http:request-builder>
                <http:uri-param paramName="guid" value="#[flowVars.guid]"/>
            </http:request-builder>
        </http:request>
        <set-payload value="[{  &quot;header&quot;: {   &quot;guid&quot;: &quot;#[flowVars.guid]&quot;,   &quot;responsedatetime&quot;: &quot;#[server.dateTime]&quot;,   &quot;userid&quot;: &quot;&quot;,   &quot;responsesOn&quot;: &quot;&quot;,   &quot;responsesFrom&quot;: &quot;&quot;  } }, {  &quot;message&quot;: &quot;successfully record created&quot; }]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="anz_privacy-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
